*{
    margin: 1;
    
}

.cuadro{
    background-color: papayawhip;
    width: 900px;
    height: 700px;
    border: 1px solid black;
}

.arriba{
    background-color: #ffffff;
    width: 900px;
    height: 200px;
}

.arriba_primero{
    background-color: white;
    width: 200px;
    height: 200px;
    float: left;
}

.arriba_segundo{
    background-color: white;
    width: 550px;
    height: 200px;
    float: left;
}

.arriba_tercero{
    background-color: white;
    width: 150px;
    height: 200px;
    float: right;
}

.cuerpo{
    width: 900px;
    height: 400px;
}

.cuerpo_izquierda{
    background-color: white;
    width: 700px;
    height: 400px;
    float: left;
}

.cuerpo_barra{
    margin-top: 0px;
    background-color: #bbc4bb; 
    height: 20px;    
}

.cuerpo_derecha{
    background-color: rgb(90, 137, 182);
    width: 200px;
    height: 400px;
    float: right;
}

.menu{
    width: 180px;
    list-style: none;
    margin-left: 0px;
    margin-top: 1px;
    padding: 0;
    border: 2px solid black;
}

.menu li a{
    padding: .3em; 
    display: block;
    text-decoration: none;
    color:rgb(14, 20, 20);
    background: rgb(241, 241, 240) ;
    border-top: 1px solid rgb(189, 187, 183);
    border-bottom: 1.5px solid rgb(58, 113, 131);
}

.cuerpo a:hover{
    background-color: rgb(146, 144, 141);
}

.pie1{
    background-color: yellow;
    width: 900px;
    height: 50px;
    border-top: 1px solid rgb(95, 92, 86);
    border-bottom: 1.5px solid rgb(41, 47, 49);
}

.pie2{
    background-color: rgb(90, 137, 182);
    width: 900px;
    height: 50px;
    border-bottom: 1.5px solid rgb(41, 47, 49);
}

.letra_roja{
    color: rgb(233, 52, 52);
}

.letra_azul{
    color: rgb(61, 61, 133);
}
.rojo{
    color: red;
}
.amarillo{
    color: yellow;
}
.verde{
    color: green;
}